# Bu dosyayı .env olarak kopyala ve kendi Supabase bilgilerinle doldur.
# .env dosyası .gitignore'da olduğu için GitHub'a gitmez.

PUBLIC_SUPABASE_URL=tbrgvwudqwzbtcerajgc.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRicmd2d3VkcXd6YnRjZXJhamdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0MjczMjcsImV4cCI6MjEwNjAwMzMyN30.zo3XkW_acFKFgpMtYKM04NDeP6gJAKUQib05_JnKZzQ
